{% extends './layout.html' %}

{% block title %}
index
{% endblock %}

{% block content %}
<div>
  <h1>hello swig [[ data]]</h1>
  <hr>
  <div id="app-6">
    <button id="js-btn-1">产生随机数(throttle)</button>
    <button id="js-btn-2">产生随机数(debounce)</button>
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block scripts %}
<!-- <script src="scripts/index.js"></script> -->
<script src="scripts/demo.js"></script>
<script>
  console.log('页面内的脚本')

  _.map('demo', function() {
    console.log(123)
  })

  _('demo').map(function() {
    console.log(456)
  })

  const { throttle, debounce } = _;

  const btn1 = document.getElementById('js-btn-1');
  btn1.addEventListener('click', throttle(() => {
    console.log('throttle', Math.random())
  }))

  const btn2 = document.getElementById('js-btn-2');
  btn2.addEventListener('click', debounce(() => {
    console.log('debounce', Math.random())
  }))
</script>
{% endblock %}